<app-navbar2></app-navbar2>
<app-chatbot></app-chatbot>
<h2>Ubicación del GPS</h2>

<div class="boton-container">
    <button (click)="toggleAgregarZona()" class="zona-btn">
        {{ modoAgregarZona ? 'Cerrar Configuración de Zona Segura' : 'Configurar Zona Segura' }}
    </button>
</div>

<p *ngIf="error" class="error-msg">Error: {{ error }}</p>
<p *ngIf="!error && cargando" class="loading-msg">Cargando ubicaciones...</p>

<div class="map-container">
    <div id="map"></div>
</div>
<app-footer></app-footer>