<footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <!-- Sección de la marca -->
            <div class="col-12 col-md-4 mb-4 mb-md-0">
                <h3 class="fw-bold text-primary">SENSUTRACK</h3>
                <p class="pt-2">Confianza y seguridad en cada paso.</p>
                <p><strong>Teléfono:</strong></p>
                <p>0987654321</p>
                <p><strong>Correo:</strong></p>
                <p>SensuTrackSupport&#64;gmail.com</p>
            </div>

            <!-- Menú de navegación -->
            <div class="col-6 col-md-2 mb-4 mb-md-0">
                <h4 class="fw-bold text-primary">Menú</h4>
                <ul class="list-unstyled">
                    <li class="py-1">
                        <a routerLink="/" class="text-white text-decoration-none nav-link">Principal</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/preguntas_frecuentes" class="text-white text-decoration-none nav-link">Preguntas
                            Frecuentes</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/sobre_nosotros" class="text-white text-decoration-none nav-link">Sobre
                            Nosotros</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/contacto" class="text-white text-decoration-none nav-link">Contáctenos</a>
                    </li>
                </ul>
            </div>

            <!-- Más información -->
            <div class="col-6 col-md-2 mb-4 mb-md-0">
                <h4 class="fw-bold text-primary">Más</h4>
                <ul class="list-unstyled">
                    <li class="py-1">
                        <a routerLink="/login" class="text-white text-decoration-none nav-link">Iniciar
                            Sesión/Registrarse</a>
                    </li>
                </ul>
            </div>

            <!-- Categorías -->
            <div class="col-6 col-md-2 mb-4 mb-md-0">
                <h4 class="fw-bold text-primary">Categorías</h4>
                <ul class="list-unstyled">
                    <li class="py-1">
                        <a routerLink="/sobre_nosotros"
                            class="text-white text-decoration-none nav-link bi bi-house-door">Sobre Nosotros</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/preguntas_frecuentes"
                            class="text-white text-decoration-none nav-link bi bi-question-circle">Preguntas
                            Frecuentes</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/contacto"
                            class="text-white text-decoration-none nav-link bi bi-envelope">Contactenos</a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/login"
                            class="text-white text-decoration-none nav-link bi bi-person-circle">Mapa</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Línea divisoria -->
        <hr class="my-4 border-white" />

        <!-- Redes Sociales -->
        <div class="row justify-content-center mb-4">
            <div class="col-auto">
                <a routerLink="/" class="text-white mx-3" aria-label="Facebook">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
                <a routerLink="/" class="text-white mx-3" aria-label="Twitter">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a routerLink="/" class="text-white mx-3" aria-label="Instagram">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
            </div>
        </div>

        <!-- Copyright -->
        <div class="row">
            <div class="col text-center">
                <p>&copy; 2024 SensuTrack. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>