<div class="container mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="contact-section bg-light p-4 rounded" style="margin-top: 10%; margin-bottom: 10;">
        <h2>👨‍🦯 Formulario de Contacto 👨‍🦯‍➡️</h2>
        <p>
          ¡Cuéntanos cómo podemos ayudarte a mejorar la movilidad y
          seguridad de las personas ciegas! (❁´◡`❁)
        </p>
        <form action="https://formsubmit.co/pettrackerof@gmail.com" method="POST">
          <label for="name" class="form-label"><i class=""></i> Nombre y Apellido</label>
          <div class="form-group">
            <input type="text" class="form-control" required placeholder="Nombre y apellido" name="name" />
          </div>
          <div class="form-group">
            <label for="email" class="form-label"><i class=""></i> Correo electrónico</label>
            <i class=""></i>
            <input type="email" class="form-control" required placeholder="Correo electrónico" name="email" />
          </div>
          <div class="form-group">
            <label for="message" class="form-label"><i class="fa-solid fa-pen-to-square"></i> Tu mensaje</label>
            <i class="fa-solid fa-pen-to-square"></i>
            <textarea type="text" cols="30" class="form-control" rows="10" placeholder="Escribe tu mensaje"
              name="message"></textarea>
          </div>
          <div class="submit-container text-center">
            <button on:submit={mostrarConfirmacionCorreo} type="submit"
              class="btn btn-primary w-100 mt-4 shadow-sm rounded-pill">🦮 Enviar mensaje 🦮</button>
          </div>
          <input type="hidden" name="_next" value="https://sensutrack-front.onrender.com/" />
          <input type="hidden" name="_captcha" value="true" />
        </form>
      </div>
    </div>
  </div>
</div>