.contact-section h2 {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #006aff;
    text-align: center;
}

.contact-section p {
    text-align: center;
    font-size: 1rem;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #ddd;
    font-size: 16px;
}

.form-control:focus {
    border-color: #006aff;
    box-shadow: #006aff;
}

.form-label {
    font-weight: bold;
    font-size: 1rem;
}

.btn-primary {
    width: 100%;
    background-color: #0079fa;
    /* Botón de registro en azul */
    border-color: #0079fa;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
}

.btn-primary:hover {
    background-color: #005f89;
    /* Color azul oscuro al pasar el cursor */
    border-color: #005f89;
}

@media (max-width: 767px) {
    .contact-section {
        margin-top: 5%;
    }
}