<div id="carouselE1" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 2%;">
    <!-- Indicadores de carrusel -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselE1" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselE1" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselE1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <!-- Contenido del carrusel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/ciego-1.png" class="d-block w-100" alt="Dispositivos GPS para personas ciegas" />
            <div class="carousel-caption">
                <h5>Dispositivos GPS de última generación</h5>
                <p>
                    Navega con confianza y seguridad con nuestros dispositivos
                    GPS diseñados para personas ciegas.
                </p>
                <p><a href="#!" class="btn btn-primary mt-3">Leer más</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/ciego-2.png" class="d-block w-100" alt="Dispositivos GPS para personas ciegas" />
            <div class="carousel-caption">
                <h5>Independencia y seguridad</h5>
                <p>
                    Facilitamos la movilidad y la independencia de las personas
                    ciegas con tecnología avanzada.
                </p>
                <p><a href="#!" class="btn btn-primary mt-3">Leer más</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/ciego-3.png" class="d-block w-100" alt="Dispositivos GPS para personas ciegas" />
            <div class="carousel-caption">
                <h5>Tecnología accesible</h5>
                <p>
                    Diseñamos dispositivos GPS fáciles de usar y adaptados a las
                    necesidades de las personas ciegas.
                </p>
                <p><a href="#!" class="btn btn-primary mt-3">Leer más</a></p>
            </div>
        </div>
    </div>

    <!-- Botones de control del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselE1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselE1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>