 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

 * {
     font-family: "Poppins", sans-serif;
     margin: 0;
     padding: 0;
 }

 .section-icons {
     background-color: #f8f9fa;
     /* Fondo claro para la sección */
     padding: 60px 0;
     padding-bottom: 4%;
 }

 .box-icons {
     padding: 20px;
     transition: transform 0.3s ease-in-out;
 }

 .box-icons:hover {
     transform: translateY(-10px);
     /* Efecto de elevación en hover */
     cursor: pointer;
 }

 .icon {
     color: #ff8c00;
     /* Color naranja para los iconos */
     font-size: 3rem;
     /* Aumenta el tamaño del icono */
     transition: color 0.3s ease;
 }

 .box-icons:hover .icon {
     color: #e67e00;
     /* Cambio de color en hover */
 }

 .box-icons h3 {
     color: #333;
     font-size: 1.5rem;
     margin-top: 15px;
     margin-bottom: 10px;
 }

 .box-icons p {
     color: #666;
     font-size: 1rem;
     line-height: 1.5;
     text-align: justify;
 }

 /* Estilos para asegurar buena responsividad */
 @media (max-width: 767px) {
     .icon {
         font-size: 2.5rem;
         /* Ajuste del tamaño del icono en móviles */
     }

     .box-icons h3 {
         font-size: 1.25rem;
     }

     .box-icons p {
         font-size: 0.875rem;
     }
 }

 /* Estilos para cuando la pantalla es mediana (tabletas) */
 @media (max-width: 991px) {
     .icon {
         font-size: 2.8rem;
         /* Ajuste para tabletas */
     }
 }

 /* Servicios */

 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

 * {
     font-family: "Poppins", sans-serif;
     font-weight: 300;
 }

 .services {
     padding: 80px 0;
     background-color: #f9f9f9;
 }

 .secction-header h2 {
     font-size: 2.5rem;
     font-weight: 700;
     color: #007bff;
 }

 .secction-header p {
     font-size: 1.2rem;
     color: #6c757d;
 }

 .card {
     transition:
         transform 0.3s ease,
         box-shadow 0.3s ease;
     border-radius: 15px;
 }

 .card:hover {
     transform: translateY(-10px);
     box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
 }

 .card .card-img-top {
     height: 200px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 }

 .bg-car1 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)),
         url(/rastreo.jpg);
 }

 .bg-car2 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)),
         url(/asignaciones.jpg);
 }

 .bg-car3 {
     background-image: linear-gradient(rgba(0, 0, 0, 0.3),
             rgba(0, 0, 0, 0.3)),
         url(/para_todas_las_necesidades.jpg);
 }

 .btn-outline-primary {
     border: 2px solid #007bff;
     color: #007bff;
     padding: 10px 20px;
     font-size: 1rem;
     text-transform: uppercase;
     font-weight: 600;
     letter-spacing: 1px;
     transition:
         background-color 0.3s ease,
         color 0.3s ease;
 }

 .btn-outline-primary:hover {
     background-color: #007bff;
     color: #fff;
 }

 /* Responsive Design */
 @media (max-width: 768px) {
     .card {
         margin-bottom: 20px;
     }
 }