<section class="benefits py-5">
    <div class="container">
        <h2 class="text-center mb-5" style="color:#006aff ;">
            Beneficios del GPS para Personas con Discapacidad Visual
        </h2>
        <div class="row justify-content-center">
            <!-- Beneficio 1: Rastreo en Tiempo Real -->
            <div class="col-12 col-md-4 mb-4">
                <div class="benefit-card shadow rounded-lg">
                    <div class="icon-container bg-gradient-1 text-white">
                        <i class="fas fa-map fa-1x"></i>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Rastreo en Tiempo Real</h4>
                        <p class="card-text text-muted">
                            Conoce en todo momento la ubicación exacta de la
                            persona, brindando mayor seguridad y tranquilidad.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Beneficio 2: Duración de Batería Prolongada -->
            <div class="col-12 col-md-4 mb-4">
                <div class="benefit-card shadow rounded-lg">
                    <div class="icon-container bg-gradient-2 text-white">
                        <i class="fas fa-battery-three-quarters fa-1x"></i>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Batería de Larga Duración</h4>
                        <p class="card-text text-muted">
                            Hasta 7 días de funcionamiento continuo para que no
                            tengas que preocuparte por cargarlo constantemente.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Beneficio 3: Resistente al Agua -->
            <div class="col-12 col-md-4 mb-4">
                <div class="benefit-card shadow rounded-lg">
                    <div class="icon-container bg-gradient-3 text-white">
                        <i class="fas fa-tint fa-1x"></i>
                    </div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Resistencia al Agua</h4>
                        <p class="card-text text-muted">
                            Ideal para cualquier clima. El dispositivo continúa
                            funcionando incluso bajo la lluvia o en condiciones
                            húmedas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner bg-dark text-white text-center py-5 position-relative" style="margin-bottom: 5%;">
    <div class="container position-relative z-index-2">
        <h2 class="display-4 font-weight-bold mb-4">
            ¡Seguridad y tranquilidad, estés donde estés!
        </h2>
        <p class="lead mb-4">
            SensuTrack permite monitorear en tiempo real a personas ciegas,
            enviando alertas si se alejan de zonas seguras. Garantiza su
            bienestar mientras te brinda total confianza y control.
            <br /><br />
            ¿No estás satisfecho? Te devolvemos tu dinero en los primeros 30 días.
            ¡Compra sin riesgos!
        </p>
        <a routerLink="/login" class="btn btn-warning btn-lg btn-cta rounded-pill">Compra Ahora</a>
    </div>
    <div class="banner-image position-absolute top-0 left-0 w-100 h-100"></div>
</section>